if exists (select * from sysobjects where id = object_id(N'[dbo].[sp_InsMunkalap]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_InsMunkalap]
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

CREATE PROCEDURE sp_InsMunkalap
@MTIP VARCHAR(1),
@BEJDAT DATETIME=NULL,
@BEJNEV VARCHAR(40)=NULL,
@TIPUSH VARCHAR(3)=NULL,
@HIBLEIR VARCHAR (1024)=NULL,
@SZEREGYS VARCHAR(2)=NULL,
@MFDOLG INTEGER=NULL,
@MUNELV DATETIME=NULL,
@IDOTOL VARCHAR(10)=NULL,
@IDOIG VARCHAR(10)=NULL,
@SZOLGTIP VARCHAR(2)=NULL,
@MUNVEGZ VARCHAR(2)=NULL,
@SZOLGJELL VARCHAR(2)=NULL,
@OBJID INTEGER=NULL,
@KARBTIP VARCHAR(1)=NULL,
@MUVEL VARCHAR(3)=NULL,
@FELTIP VARCHAR(2)=NULL,
@FELLEIR VARCHAR(1024)=NULL,
@JELENSTIP VARCHAR(2)=NULL,
@JELENSLEIR VARCHAR(1024)=NULL,
@MUVLEIR VARCHAR(1024)=NULL,
@INTEZ VARCHAR(1024)=NULL,
@VONEV DATETIME=NULL,
@SORSZ VARCHAR(50)=NULL,
@NAPSZAM VARCHAR(50)=NULL,
@KIALLDAT DATETIME=NULL,
@FSZAM VARCHAR(12)=NULL,
@SZOLTIP VARCHAR(1)=NULL,
@MUNSZ VARCHAR(2)=NULL,
@MKAP INTEGER=NULL,
@ALLAPOT INTEGER=NULL,
@EPUL_ID INTEGER=NULL,
@MVDOLG INTEGER=NULL,
@MVDAT DATETIME=NULL,
@LAKAS VARCHAR(50)=NULL,
@PLOMBAZAS VARCHAR(1)=NULL,
@UJ VARCHAR(10)=NULL,
@FELUJITOTT VARCHAR(10)=NULL
AS
DECLARE @OBJ INTEGER	--Az objid mezoben ezt tároljuk majd el.

IF @EPUL_ID IS NOT NULL	--Ha épület id-t kell tárolni
BEGIN
	SELECT @OBJ = @EPUL_ID
END
ELSE	--Ha egyéb objektum id-t kell tárolni
BEGIN
	SELECT @OBJ = @OBJID
END

DECLARE @RET INTEGER
INSERT INTO
	MUNKALAP(MTIP, BEJDAT, BEJNEV, TIPUSH, HIBLEIR, SZEREGYS, MFDOLG, MUNELV,
		IDOTOL, IDOIG, SZOLGTIP, MUNVEGZ, SZOLGJELL, OBJID, KARBTIP, MUVEL, FELTIP,
		FELLEIR, JELENSTIP, JELENSLEIR, MUVLEIR, INTEZ, VONEV, SORSZ, NAPSZAM,
		KIALLDAT, FSZAM, SZOLTIP, MUNSZ, MKAP, ALLAPOT, MVDOLG, MVDAT, LAKAS, REF, PLOMBAZAS,
		UJ, FELUJITOTT)
		
SELECT
	@MTIP,
	@BEJDAT,
	@BEJNEV,
	@TIPUSH,
	@HIBLEIR,
	@SZEREGYS,
	@MFDOLG,
	@MUNELV,
	@IDOTOL,
	@IDOIG,
	@SZOLGTIP,
	@MUNVEGZ,
	@SZOLGJELL,
	@OBJ,	--Lakás, épület vagy egyéb objektum id-je.
	@KARBTIP,
	@MUVEL,
	@FELTIP,
	@FELLEIR,
	@JELENSTIP,
	@JELENSLEIR,
	@MUVLEIR,
	@INTEZ,
	@VONEV,
	@SORSZ,
	@NAPSZAM,
	@KIALLDAT,
	@FSZAM,
	@SZOLTIP,
	@MUNSZ,
	@MKAP,
	@ALLAPOT,
	@MVDOLG,
	@MVDAT,
	@LAKAS,
	NULL,
	@PLOMBAZAS,
	@UJ,
	@FELUJITOTT

SELECT @RET = @@IDENTITY

IF @SORSZ IS NULL
	BEGIN
	UPDATE
		MUNKALAP
	SET
		SORSZ = @RET
	WHERE
		ID = @RET
	END

SELECT @RET
RETURN @RET


GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

GRANT  EXECUTE  ON [dbo].[sp_InsMunkalap]  TO [public]
GO

