if exists (select * from sysobjects where id = object_id(N'[dbo].[sp_LekerdKepvis]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_LekerdKepvis]
GO

SET QUOTED_IDENTIFIER  ON    SET ANSI_NULLS  ON 
GO





/****** Object:  Stored Procedure dbo.sp_LekerdKepvis    Script Date: 2000. 07. 04. 18:56:17 ******/
CREATE PROCEDURE sp_LekerdKepvis
@pEPULID INTEGER=NULL,
@pKEPVIS_ID INTEGER=NULL,
@pDATUMTOL DATETIME=NULL,
@pDATUMIG DATETIME=NULL
AS
SELECT
	KEPVIS.ID,
	coalesce(CIM, ' - ') AS CIM,
	coalesce(KOZNEV, ' - ') AS KOZNEV,
	coalesce(KOZCIM, ' - ') AS KOZCIM,
	Q338.KODENEV,
	KEZDATUM,
	BEFDATUM,
	coalesce(MEGJ, ' - ') AS MEGJ
FROM
	Q338 RIGHT JOIN
	(
		SZERZFEJ RIGHT JOIN
		(
			LEPCSOHAZ RIGHT JOIN
			(
				SZERZTEL INNER JOIN
				(
					KEPVIS INNER JOIN KEPV_TET ON KEPV_TET.KEPVIS_ID = KEPVIS.ID
				) ON SZERZTEL.SZER_ID = KEPV_TET.SZERZ_ID
			) ON LEPCSOHAZ.ID = SZERZTEL.OBJ_ID
		) ON SZERZTEL.SZER_ID = SZERZFEJ.ID
	) ON Q338.KODERT = SZERZFEJ.SZOLG
WHERE
	LEPCSOHAZ.ID = coalesce(@pEPULID, LEPCSOHAZ.ID)
	AND KEPVIS.ID = coalesce(@pKEPVIS_ID, KEPVIS.ID)
	AND ((@pDATUMTOL IS NULL OR @pDATUMIG IS NULL)
		OR (@pDATUMTOL IS NOT NULL AND @pDATUMIG IS NOT NULL AND
			(
--			(BEFDATUM IS NULL AND KEZDATUM >= @pDATUMTOL AND KEZDATUM <= @pDATUMIG)
			(BEFDATUM IS NULL AND KEZDATUM <= @pDATUMIG)
			OR
			BEFDATUM IS NOT NULL AND
			((KEZDATUM <= @pDATUMTOL AND BEFDATUM >= @pDATUMTOL)
			OR (KEZDATUM >= @pDATUMTOL AND BEFDATUM <= @pDATUMIG)
			OR (KEZDATUM >= @pDATUMTOL AND KEZDATUM <= @pDATUMIG))
			)
			))
ORDER BY
	KOZNEV,
	CIM,
	KEZDATUM,
	BEFDATUM,
	KOZCIM,
	MEGJ
GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

GRANT  EXECUTE  ON [dbo].[sp_LekerdKepvis]  TO [public]
GO

